In [1]:
import sys
sys.path.append('./../Modules')

from crawl_webpage import *
from naver_map_api import *

In [2]:
# 크롤링 진행
search_area = ['전라남도']
df = crawl_superbin(search_area)

#### 주소지 0.0인 위치들 수정 및 중복 주소에 대한 처리

In [3]:
df2=df.copy()

In [4]:
# mapping 되지 않는 주소 변경
df2.loc[(df2['Address'] == '전라남도 여수시 미평동, 미평역 폐역 부근'), 'Address'] = "전남 여수시 미평동 635-2"
df2.loc[(df2['Address'] == '전라남도 여수시 이순신광장로'), 'Address'] = "전남 여수시 선어시장길 6"
df2.loc[(df2['Address'] == '전라남도 여수시 무선 7길'), 'Address'] = "전남 여수시 선원동 1240-1"
df2.loc[(df2['Address'] == '전라남도 여수시 소호동, 자전거 대여소 뒤편'), 'Address'] = "전남 여수시 내동1길 2 진남수영장 2층"

# API 키 로드 및 주소 좌표 가져오기
CLIENT_ID, CLIENT_SECRET = load_api_keys('./../config.json')
process_address(df2, CLIENT_ID, CLIENT_SECRET)

In [6]:
df2['machine'] = df2.groupby(['latitude', 'longitude'])['latitude'].transform('count')

In [7]:
df2 = df2.drop_duplicates(subset=['latitude', 'longitude']).reset_index(drop=True)

In [8]:
df2

,Address,Capacity,latitude,longitude,machine
0,전라남도 여수시 선소로 93 전기차충전소 뒷편,1인 1일 100개 (1회 100개),34.761028,127.667874,2
1,전라남도 광양시 성황동 1861,1인 1일 200개 (1회 200개),34.937416,127.679394,1
2,전라남도 광양시 광양읍 읍내리 252-1,1인 1일 100개 (1회 100개),34.976458,127.585253,2
3,전라남도 광양시 광양읍 인덕로 1100,1인 1일 200개 (1회 200개),34.980792,127.582246,1
4,전라남도 광양시 광양읍 남등길 6 광양읍사무소,1인 1일 200개 (1회 200개),34.973410,127.581050,2
5,전라남도 광양시 광영동 1087,1인 1일 200개 (1회 200개),34.962851,127.725148,1
6,전라남도 곡성군 곡성읍 학정리 526-2,1인 1일 100개 (1회 100개),35.286109,127.288533,1
7,전라남도 목포시 자유로20번길 27,1인 1일 100개 (1회 100개),34.790958,126.392050,2
8,전라남도 광양시 정수2길 47 광영동사무소,1인 1일 200개 (1회 200개),34.962922,127.722006,1
9,전라남도 나주시 그린로 93,Unspecified,35.014383,126.779112,1
10,전라남도 광양시 중동 674-4,1인 1일 200개 (1회 200개),34.951387,127.692538,2
11,전라남도 목포시 용해동 1006,1인 1일 100개 (1회 100개),34.817165,126.397075,2
12,전라남도 순천시 환선로 133,1인 1일 100개 (1회 100개),34.967671,127.486755,2
13,전남 여수시 미평동 635-2,1인 1일 100개 (1회 100개),34.767867,127.702754,2
14,전라남도 여수시 미평11길 6,1인 1일 100개 (1회 100개),34.769418,127.704965,2
15,전라남도 광양시 폭포사랑길 99,1인 1일 200개 (1회 200개),34.940301,127.732250,1
16,전라남도 목포시 옥암동 1022,1인 1일 100개 (1회 100개),34.804215,126.434552,2
17,전라남도 강진군 강진읍 동성리 300-1,1인 1일 80개 (1회 80개),34.644317,126.771925,1
18,전라남도 여수시 서교1길 28 서강동주민자치센터,1인 1일 100개 (1회 100개),34.741151,127.725888,2
19,전남 여수시 선원동 1240-1,1인 1일 100개 (1회 100개),34.773784,127.651049,2
20,전라남도 곡성군 옥과면 죽림2길 45,1인 1일 100개 (1회 100개),35.275565,127.140990,1
21,전남 여수시 내동1길 2 진남수영장 2층,1인 1일 100개 (1회 100개),34.762107,127.720362,1
22,전라남도 여수시 어항단지로 147,1인 1일 100개 (1회 100개),34.728531,127.723358,2
23,전라남도 순천시 국가정원1호길 152-55,1인 1일 100개 (1회 100개),34.929699,127.509546,2
24,전라남도 순천시 백연길 111,1인 1일 100개 (1회 100개),34.952535,127.532948,2
25,전라남도 순천시 팔마1길 9-19,1인 1일 100개 (1회 100개),34.932491,127.512632,2
26,전라남도 순천시 해룡면 매안로 138,1인 1일 100개 (1회 100개),34.936762,127.550452,2
27,전라남도 강진군 강진읍 서성리 40-3,1인 1일 80개 (1회 80개),34.637254,126.765380,1
28,전라남도 여수시 시청동1길 30,1인 1일 100개 (1회 100개),34.759082,127.663047,1
29,전라남도 여수시 시청동1길 23,1인 1일 100개 (1회 100개),34.758739,127.663644,1
30,전라남도 순천시 연향번영길 93,1인 1일 100개 (1회 100개),34.948905,127.517255,2
31,"전라남도 여수시 오동도로 242, 관광안내소 뒤편",1인 1일 100개 (1회 100개),34.745241,127.766012,1
32,전라남도 순천시 오천동 1025,1인 1일 100개 (1회 100개),34.934096,127.493951,2
33,전라남도 곡성군 옥과면 옥과리 128-1,1인 1일 100개 (1회 100개),35.276206,127.134666,1
34,전라남도 곡성군 옥과면 천변로 135,1인 1일 100개 (1회 100개),35.273750,127.135625,1
35,전라남도 곡성군 옥과면 죽림리 632-13,1인 1일 100개 (1회 100개),35.279445,127.135312,1
36,전라남도 목포시 삼향천로 118,1인 1일 100개 (1회 100개),34.810150,126.429858,2
37,전라남도 완도군 완도읍 개포로 111,1인 1일 100개 (1회 100개),34.316673,126.741669,2
38,"전라남도 여수시 예울마루로 37-40, 웅천친수공원 모유수유실 옆",1인 1일 100개 (1회 100개),34.745946,127.669309,2
39,전라남도 목포시 연산동 1277,1인 1일 100개 (1회 100개),34.811640,126.381272,2
40,전라남도 목포시 유동로 19,1인 1일 100개 (1회 100개),34.783483,126.380300,2
41,전남 여수시 선어시장길 6,1인 1일 100개 (1회 100개),34.739578,127.736372,2
42,전라남도 순천시 자경1길 13,1인 1일 100개 (1회 100개),34.950064,127.498747,1
43,전라남도 광양시 중마중앙로 119 중마동사무소,1인 1일 200개 (1회 200개),34.941020,127.697666,1
44,전라남도 여수시 소라면 죽림리 1140,1인 1일 100개 (1회 100개),34.764800,127.637231,2
45,전라남도 곡성군 곡성읍 읍내리 98-2,1인 1일 100개 (1회 100개),35.282475,127.301781,1
46,전라남도 목포시 산정동 1198-5,1인 1일 100개 (1회 100개),34.808355,126.371397,2
47,전라남도 목포시 상동 1157,1인 1일 100개 (1회 100개),34.796123,126.433071,2
48,전라남도 순천시 풍덕동 1287,1인 1일 100개 (1회 100개),34.939791,127.498466,1
49,전라남도 목포시 백년대로337번길 35,1인 1일 100개 (1회 100개),34.808250,126.421208,2
50,전라남도 곡성군 곡성읍 학정리 535-19,1인 1일 100개 (1회 100개),35.284764,127.290566,1
51,전라남도 나주시 빛가람로 661,Unspecified,35.022540,126.782785,1
52,전라남도 함평군 함평읍 한나리길 10-25,Unspecified,35.104282,126.494238,1
53,전라남도 여수시 종화동 526-7,1인 1일 100개 (1회 100개),34.738406,127.744912,2

In [9]:
df2.to_csv("./../Data/data.csv", index=False)